.toolbar {
   top: 0;
   left: 0;
   position: fixed;
   width: 100%;
   background: #8d1d2e;
   height: 56px;
}

.toolbar-navigation {
   display: flex;
   height: 100%;
   align-items: center;
   padding: 0 1rem;
}

.toolbar-logo {
   margin-left: 1rem;
}

.toolbar-logo a {
   color: #fff;
   text-decoration: none;
   font-size: 1.3rem;
}

.spacer {
   flex: 1;
}

.toolbar-navigation-items ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}

.toolbar-navigation-items li {
   padding: 0 0.5rem;

}

.toolbar-navigation-items a {
   color: #fff;
   text-decoration: none;
}

.toolbar-navigation-items a:hover,
.toolbar-navigation-items a:active {
   color: orange;
}

@media (max-width: 768px) {
   .toolbar-navigation-items {
      display: none;
   }
}

@media (min-width: 991px) {
   .toolbar-toggle-button {
      display: none;
   }
   .toolbar-logo {
      margin-left: 0;
   }
}